<%= simple_form_for transaction_item, url: new_debt_transaction_item_path(debt), as: :transaction_item do |f| %>
  <div class="modal-body">
    <%= f.input :id, as: :hidden %>
    <%= f.input :transaction_info_id, as: :hidden %>
    <%= f.input :type, as: :hidden, input_html: {name: "Desembolso"} %>
    <%= f.input :value_brl, input_html: {value: f.object.value_brl || '0.00'} %>    
    <label>Taxa de conversão:</label>
    <input class="form-control" type="text" name="" id="withdraw_exchange_rate">
    <br>    
    <%= f.input :value %>
    <%= f.input :date, as: :date, label: 'Data de liberação' %>
    <%= f.input :internalization_date, as: :date if debt.externo? %>
  </div>
<% end %>

<div class="modal-footer">
  <button type="button" class="btn btn-danger" data-dismiss="modal">Fechar</button>

  <% if transaction_item.new_record? %>
    <% http_verb = 'post' %>
    <% path = debt_transaction_items_path(@debt) %>
  <% else %>
    <% http_verb = 'patch' %>
    <% path = debt_transaction_item_path(@debt, transaction) %>
  <% end %>

  <button type="button" class="btn btn-success transaction-save" data-http-verb="<%= http_verb %>" data-path='<%= path %>'>Salvar</button>
</div>

<script type="text/javascript">
  updateExchangeRate();

    $('#transaction_item_value_brl').on('keyup', function(){
        updateValue();    
    });

    $('#withdraw_exchange_rate').on('keyup', function(){
        updateValue();
    });

  $('#transaction_value').on('keyup', function(){
    updateExchangeRate();
  });

  function updateValue(){    
    if($.isNumeric($('#transaction_item_value_brl').val())){
      value = Big($('#transaction_item_value_brl').val()) / $('#withdraw_exchange_rate').val();
          $('#transaction_item_value').val(value);
    }
  }

  function updateExchangeRate(){
    if($.isNumeric($('#transaction_item_value').val())){
      exchange_rate = Big($('#transaction_item_value').val()) / $('#transaction_value_brl').val();
      $('#withdraw_exchange_rate').val(exchange_rate);
    }
  }
</script>