<%= simple_form_for transaction_item, url: new_debt_transaction_item_path(debt), as: :transaction_item do |f| %>
  <div class="modal-body">
    <%= f.input :id, as: :hidden %>
    <%= f.input :transaction_info_id, as: :hidden %>
    <%= f.input :value_brl, as: :string, input_html: {value: f.object.value_brl || '0.00', class: 'currency-brl'} %> 
    <%= f.input :exchange_rate,  as: :string, input_html: {class: 'currency_exchange_rate'}%>
    <%= f.input :value , as: :string, input_html: {class: 'currency'} %> 
    <%= f.input :date, as: :date, label: 'Data de liberação' %>
    <%= f.input :internalization_date, as: :date if debt.externo? %>
  </div>
<% end %>

<div class="modal-footer">
  <button type="button" class="btn btn-danger" data-dismiss="modal">Fechar</button>

  <% if transaction_item.new_record? %>
    <% http_verb = 'post' %>
    <% path = debt_transaction_items_path(@debt) %>
  <% else %>
    <% http_verb = 'patch' %>
    <% path = debt_transaction_item_path(@debt, transaction_item) %>
  <% end %>

  <button type="button" class="btn btn-success transaction-save" data-http-verb="<%= http_verb %>" data-path='<%= path %>'>Salvar</button>
</div>

<script type="text/javascript">
 
  $('#transaction_item_exchange_rate').on('keyup', function(e) {

    if($.isNumeric($('#transaction_item_exchange_rate').val())){
      $('#transaction_item_value').val((Big($('#transaction_item_value_brl').val().replace(/[.]/g, '').replace(/[,]/g, '.')) / $('#transaction_item_exchange_rate').val().replace(/[,]/g, '.')).toFixed(5));

      $('.currency').unmask();
      $('.currency').mask('#.##0,00000', {reverse: true});
    }
  });

</script>





