<div class='nav transactions-year-list position-fixed'>
  <ul class=" list-group">
    <% @debt.years_list.each do |year| %> 
      <li class="nav-item">
        <a class="nav-link list-group-item list-group-item-action year-link <%= 'active' if year == Date.today.year %>" href="#<%= year %>" data-turbolinks="false"><%= year %></a>
      </li>
    <% end %>
  </ul>
</div>

<div class='pull-left debt-ops'>
  <p>
    <strong>Valor do contrato: </strong>
    <%= big_decimal_to_currency @debt.contract_value %>
  </p>
  <p>
    <strong>Valor do contrato em reais: </strong>
    <%= number_to_currency @debt.contract_value_brl %>
  </p>
  <p>
    <strong>Saldo devedor total: </strong>
    <%= big_decimal_to_currency @debt.outstanding_balance %>
  </p>
  
  <table id="dttb-transaction-items" class="table table-hover">
    <thead>
      <th></th>
      <th class="td-right">Data</th>
      <th class="td-right">Valor em moeda</th>
      <th class="td-right">Operação</th>        
    </thead>
    <% #transaction_items = FutureTransaction.list @debt%>
    <tbody>    
      <% (@transaction_items + FutureTransaction.list(@debt)).each do |transaction_item| %>              
          
        <% transaction_item.editable? ? transaction_class = 'edit-transaction' : transaction_class = 'block-edit-transaction' %>
        <% transaction_edit_path = edit_debt_transaction_item_path(@debt, transaction_item) if transaction_item.editable? %>
        <tr class="<%= transaction_class %>" data-path='<%= transaction_edit_path %>'>
          <td class="td-right">
            <% if transaction_item.future_transaction? %>
              <span class="badge badge-secondary badge-pill">F</span>
            <% elsif transaction_item.transaction_info.category_number == 1 %>
              <span class="badge badge-primary badge-pill">D</span>
            <% elsif transaction_item.transaction_info.category_number == 2  %>
              <span class="badge badge-info badge-pill">J</span>
            <% elsif transaction_item.transaction_info.category_number == 3  %>
              <span class="badge badge-warning badge-pill">A</span>
            <% elsif transaction_item.transaction_info.category_number == 4  %>
              <span class="badge badge-success badge-pill">E</span>            
            <% end %>
          </td>
          
          <td class="td-right">
            <%= transaction_item.date %>
          </td>
        
          <td class="td-right">
           <%= big_decimal_to_currency(transaction_item.value) || '-'  %>                 
          </td>

          <td class="td-right">
            <%= transaction_item.transaction_info.category.name %>
          </td>
          
        </tr>                
      <% end %>              
    </tbody>
  </table>
    
  <br>
      
</div>

<div class="pull-left transactions-legend">
  <div class='position-fixed'>
    <ul class="nav flex-column list-group">    
      <li><span class="badge badge-primary badge-pill">D</span> Desembolso</li>
      <li><span class="badge badge-info badge-pill">J</span> Juros</li>      
      <li><span class="badge badge-warning badge-pill">A</span> Amortização</li>
      <li><span class="badge badge-success badge-pill">E</span> Encargos</li>
      <li><span class="badge badge-secondary badge-pill">F</span> Operação futura</li>    
    </ul>
    <br>
    <button type="button" class="btn btn-success new-withdraw" data-toggle="modal" data-target="#transactionModal" data-path="<%= new_debt_transaction_item_path(@debt, type: 'Desembolso') %>">Registrar desembolso</button>
  </div>  
</div>

<script type="text/javascript">
  //$("#dttb-transaction-items").dataTable();
  initTransactionActions();
</script>