<div class='nested-fields'>
	<div class="row">
    <div class="col-sm">
			<%= f.input :name %>
		</div>
		<div class="col-sm">
			<%= f.input :base %>
		</div>
		<div class="col-sm">
		  <%= f.input :formula %>
		</div>
		<div class="col-sm">
		  <%= f.input :count_days %>
		</div>
	</div>
	
  <%= link_to_remove_association "Remover encargo", f %>
  <hr>
</div>