<div class='nested-fields'>
	<div class="row">
    <div class="col-sm">
			<%= f.input :name %>
		</div>
		<div class="col-sm">
			<%= f.input :base %>
		</div>
		<div class="col-sm">
		  <%= f.input :formula %>
		</div>
		<div class="col-sm count-days-container">			
		  <%= f.input :count_days %>
		</div>
		<div class="col-sm trash-charge-container">
			<%= link_to_remove_association fa_icon("trash 2x", title: "Remover encargo") , f %>
		</div>
	</div>
</div>



