<%= simple_form_for(@debt, html: { multipart: true }) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <div class="row">
      <div class="col-sm">
        <%= f.input :code, as: :string %>
      </div>
      <div class="col-sm">
        <%= f.input :name %>
      </div>
      <div class="col-sm">
        <%= f.input :signature_date %>
      </div>
    </div>

    <br>

    <div class="row">
      <div class="col-sm">
        <%= f.association :creditor %>
      </div>
      <div class="col-sm">
        <%= f.input :category, as: :radio_buttons, collection: Debt.categories.keys, label_method: :titleize %>      
      </div>
      <div class="col-sm">
        <%= f.input :financial_agent_id, collection: Creditor.financial_agents %>
      </div>
    </div>  

    <br>

    <div class="row">
      <div class="col-sm">
        <%= f.input :contract_value %>
      </div>
      <div class="col-sm">
        <%= f.association :currency %>
      </div>      
    </div>

    <br>

    <div class="row">
      <div class="col-sm">
        <%= f.input :interest_rate %>
      </div>
      <div class="col-sm">
        <%= f.input :loan_term %>
      </div>
    </div>

    <br>

    <div class="row">
      <div class="col-sm">
        <%= f.input :grace_period %>
      </div>       
      <div class="col-sm">
        <%= f.input :amortization_period %>
      </div>
      <div class="col-sm">
        <%= f.input :amortization_type, as: :radio_buttons, collection: Debt.amortization_types.keys, label_method: :titleize %>
      </div>      
    </div>

    <hr class="dashed-hr">
    
    <div class='links'>
      <h3>Movimentações
        <%= link_to_add_association fa_icon("plus-square", title: "Adicionar encargo"), f, :transaction_infos, 'data-association-insertion-method': :append, 'data-association-insertion-node': '#transaction_infos', class: 'add-charge' %>
      </h3>

    </div>

    <div id='transaction_infos'>    
      <%= f.simple_fields_for :transaction_infos do |transaction_info| %>
        <%= render 'transaction_info_fields', f: transaction_info %>
      <% end %>      
    </div>
    
    <hr class="dashed-hr">

    <br>

    <div class="row">
      <div class="col-sm">
        <%= f.input :applicable_legislation %>
      </div>
      <div class="col-sm">
        <%= f.input :legislation_level, as: :radio_buttons, collection: Debt.legislation_levels.keys, label_method: :titleize %>
      </div>
    </div>

    <%= f.input :purpose %>
    <%= f.input :notes %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, class: "btn btn-success pull-right" %>
  </div>
<% end %>

<!-- Modal -->
<div class="modal fade" id="formula_modal" tabindex="-1" role="dialog" aria-labelledby="formulaModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Váriaveis de fórmula</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <table class="table table-stripped table-dark ">
          <thead>
            <tr>
              <th scope="col">Variável</th>
              <th scope="col">Função do sistema</th>
              <th scope="col">Descrição</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>[AMT]</td>
              <td>amortization</td>
              <td>Valor da próxima amortização</td>
            </tr>
            <tr>
              <td>[d]</td>
              <td>payment_day</td>
              <td>Dia do pagamento</td>
            </tr>
            <tr>
              <td>[DiNi]</td>
              <td>withdraws_pro_rata</td>
              <td>Lista de desembolsos multiplicado pelo período de referência</td>
            </tr>
            <tr>
              <td>[i]</td>
              <td>interest_rate</td>
              <td>Taxa de juros (%)</td>
            </tr>
            <tr>
              <td>[n]</td>
              <td>loan_term</td>
              <td>Número de parcelas</td>
            </tr>
            <tr>
              <td>[SD0]</td>
              <td>balance</td>
              <td>Valor do saldo inicial</td>
            </tr>
            <tr>
              <td>[SDf]</td>
              <td>outstanding_balance</td>
              <td>Valor do saldo final</td>
            </tr>
            <tr>
              <td>[VC]</td>
              <td>contract_value</td>
              <td>Valor total do contrato</td>
            </tr>
            
          </tbody>
        </table>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">

  $('#debt_category_interno').on( "click", function() {
      categoryInterno();
  });

  $('#debt_category_externo').on( "click", function() {
     categoryExterno();
  });

  function categoryInterno(){
    $('#debt_financial_agent_id').val("");
    $('#debt_financial_agent_id').attr('disabled', true);
  }

  function categoryExterno(){
    $('#debt_financial_agent_id').attr('disabled', false);
  }  

</script>