
<%= simple_form_for(@debt) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <%= f.input :code, as: :string %>
    <%= f.input :contract_value_cents %>
    <%= f.input :signature_date %>
    <%= f.association(:creditor) %>
    <%= f.input :grace_period %>
    <%= f.input :financial_agent, collection: Creditor.financial_agents%>
    <%= f.input :amortization_period %>
    <%= f.input :amortization_type, as: :radio_buttons, collection: Debt.amortization_types %>
    <%= f.input :amortization_frequency, as: :radio_buttons, collection: Debt.amortization_frequencies %>

    <h3>Encargos</h3>
    <div id='charges'>
      <%= f.simple_fields_for :charges do |charge| %>
        <%= render 'charge_fields', f: charge %>
      <% end %>
      

    </div>
    <div class='links'>
        <%= link_to_add_association 'Adicionar encargo', f, :charges %>
      </div>

    <%= f.input :applicable_legislation %>
    <%= f.input :legislation_level, as: :radio_buttons, collection: Debt.legislation_levels %>
    <%= f.input :purpose %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, class: "btn btn-success pull-right" %>
  </div>
<% end %>
