
<%= simple_form_for(@debt, html: { multipart: true }) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <div class="row">
      <div class="col-sm">
        <%= f.input :code, as: :string %>
      </div>
      <div class="col-sm">
        <%= f.input :name %>
      </div>
      <div class="col-sm">
        <%= f.input :signature_date %>
      </div>
    </div>

    <br>

    <div class="row">
      <div class="col-sm">
        <%= f.association :creditor %>
      </div>
      <div class="col-sm">
        <%= f.input :category, as: :radio_buttons, collection: Debt.categories.keys, label_method: :titleize %>      
      </div>
      <div class="col-sm">
        <%= f.input :financial_agent_id, collection: Creditor.financial_agents %>
      </div>
    </div>  

    <br>

    <div class="row">
      <div class="col-sm">
        <%= f.input :contract_value %>
      </div>      
      <div class="col-sm">
        <%= f.association :currency %>
      </div>
      <div class="col-sm">
        <%= f.input :interest_rate_formula %>
      </div>
    </div>

    <br>

    <div class="row">
      <div class="col-sm">
        <%= f.input :grace_period %>
      </div>      
      <div class="col-sm">
        <%= f.input :grace_period_rate_frequency, as: :radio_buttons, collection: Debt.amortization_frequencies.keys, label_method: :titleize  %>
      </div>
      <div class="col-sm">        
      </div>
    </div>

    <br>

    <div class="row">
      <div class="col-sm">
        <%= f.input :amortization_period %>
      </div>
      <div class="col-sm">
        <%= f.input :amortization_type, as: :radio_buttons, collection: Debt.amortization_types.keys, label_method: :titleize %>
      </div>
      <div class="col-sm">
        <%= f.input :amortization_frequency, as: :radio_buttons, collection: Debt.amortization_frequencies.keys, label_method: :titleize %>
      </div>
    </div>
    <hr class="dashed-hr">

    <h3>Encargos</h3>
    <div id='charges'>
    
      <%= f.simple_fields_for :charges do |charge| %>
        <%= render 'charge_fields', f: charge %>
      <% end %>      
    </div>
    <div class='links'>
      <%= link_to_add_association 'Adicionar encargo', f, :charges %>
    </div>
    <hr class="dashed-hr">

    <br>

    <div class="row">
      <div class="col-sm">
        <%= f.input :applicable_legislation %>
      </div>
      <div class="col-sm">
        <%= f.input :legislation_level, as: :radio_buttons, collection: Debt.legislation_levels.keys, label_method: :titleize %>
      </div>
    </div>

    <%= f.input :purpose %>
    <%= f.input :notes %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, class: "btn btn-success pull-right" %>
  </div>
<% end %>

<script type="text/javascript">

      $('#debt_category_interno').on( "click", function() {
          categoryInterno();
      });

      $('#debt_category_externo').on( "click", function() {
         categoryExterno();
      });

      function categoryInterno(){
        $('#debt_financial_agent_id').val("");
        $('#debt_financial_agent_id').attr('disabled', true);
      }

      function categoryExterno(){
        $('#debt_financial_agent_id').attr('disabled', false);
      }
  

</script>