<div class='nested-fields'>
	<div class="row">		

    <div class="col-sm">	
		  <%= f.input :name, collection: TransactionInfo::BASIC_TYPES.values.map { |i| i[:name] }, selected: f.object.name %>
		</div>
   	<div class="col-sm">
			<%= f.input :formula %>
		</div>
		<div class="col-sm-1 formula-info">
		<!-- Button trigger modal -->
      <%= link_to fa_icon("question-circle 2x", title: "Ver variáveis de fórmula disponíveis"), '#', 'data-toggle': "modal", 'data-target': "#formula_modal", class: 'text-secondary' %>
    </div>

		<div class="col-sm">
		  <%= f.input :payment_day %>
		</div>
		<div class="col-sm">
			<%= f.input :frequency, as: :radio_buttons, collection: TransactionInfo.frequencies.keys, label_method: :titleize %>
		</div>
		<div class="col-sm">
		  <%= f.input :description %>
		</div>
		<div class="col-sm trash-charge-container">
			<%= link_to_remove_association fa_icon("times-circle 2x", title: "Remover encargo") , f, class: 'text-danger' %>
		</div>
	</div>
</div>



