<p id="notice"><%= notice %></p>

<h1>Debts</h1>

<table>
  <thead>
    <tr>
      <th>Code</th>
      <th>Contract value cents</th>
      <th>Signature date</th>
      <th>Creditor</th>
      <th>Grace period</th>
      <th>Amortization period</th>
      <th>Purpose</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @debts.each do |debt| %>
      <tr>
        <td><%= debt.code %></td>
        <td><%= debt.contract_value_cents %></td>
        <td><%= debt.signature_date %></td>
        <td><%= debt.creditor_id %></td>
        <td><%= debt.grace_period %></td>
        <td><%= debt.amortization_period %></td>
        <td><%= debt.purpose %></td>
        <td><%= link_to 'Show', debt %></td>
        <td><%= link_to 'Edit', edit_debt_path(debt) %></td>
        <td><%= link_to 'Destroy', debt, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Debt', new_debt_path %>
