<p id="notice"><%= notice %></p>

<h1>Dívidas</h1>

<table class='table table-striped table-hover'>
  <thead>
    <tr>
      <th>Código</th>
      <th>valo do contrato</th>
      <th>Data da assinatura</th>
      <th>Credor</th>
      <th>Prazo de carência</th>
      <th>Prazo de amortização</th>
      <th>Objetivo da operação</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @debts.each do |debt| %>
      <tr>
        <td><%= debt.code %></td>
        <td><%= debt.contract_value_cents %></td>
        <td><%= debt.signature_date %></td>
        <td><%= debt.creditor_id %></td>
        <td><%= debt.grace_period %></td>
        <td><%= debt.amortization_period %></td>
        <td><%= debt.purpose %></td>
        <td><%= link_to 'Show', debt %></td>
        <td><%= link_to 'Edit', edit_debt_path(debt) %></td>
        <td><%= link_to 'Destroy', debt, method: :delete, data: { confirm: 'Tem certeza?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Cadastrar dívida', new_debt_path %>
