<% if notice.present? %>
  <div class="alert alert-success" role="alert">
    <p id="notice" class="mb-0" ><%= notice %></p>
  </div>
<% end %>

<h2><strong><%= @debt.code %></strong></h2>
<h3><%= @debt.name %></h3>

<nav>
  <div class="nav nav-tabs" id="nav-tab" role="tablist">
    <a class="nav-item nav-link active" id="nav-data-tab" data-toggle="tab" href="#nav-data" role="tab" aria-controls="nav-data" aria-selected="true">Dados</a>
    <a class="nav-item nav-link" id="nav-ops-tab" data-toggle="tab" href="#nav-ops" role="tab" aria-controls="nav-ops" aria-selected="false">Movimentações</a>
  </div>
</nav>
<div class="tab-content" id="nav-tabContent">
  <div class="tab-pane fade show active" id="nav-data" role="tabpanel" aria-labelledby="nav-data-tab">
    <div class="card-group">
      <div class="card">
        <div class="card-header alert-primary"><strong>Valor do contrato</strong></div>
        <div class="card-body">
          <p class="card-text"><%= @debt.contract_value %></p>      
        </div>
      </div>
      <div class="card">
        <div class="card-header alert-primary"><strong>Data de assinatura</strong></div>
        <div class="card-body">
          <p class="card-text"><%= @debt.signature_date.strftime("%d-%m-%Y") %></p>
        </div>
      </div>
      <div class="card">
        <div class="card-header alert-primary"><strong>Credor</strong></div>
        <div class="card-body">
          <p class="card-text"><%= @debt.creditor.name %></p>      
        </div>
      </div>
      <div class="card">
        <div class="card-header alert-primary"><strong>Agente Financeiro</strong></div>
        <div class="card-body">
          <p class="card-text"><%=  %></p>      
        </div>
      </div> 
    </div>

    <br>

    <div class="card-group">
      <div class="card">
        <div class="card-header alert-primary"><strong>Prazo de carência</strong></div>
        <div class="card-body">
          <p class="card-text"><%= @debt.grace_period.strftime("%d-%m-%Y") %></p>      
        </div>
      </div>
      <div class="card">
        <div class="card-header alert-primary"><strong>Prazo de amortização</strong></div>
        <div class="card-body">
          <p class="card-text"><%= @debt.amortization_period.strftime("%d-%m-%Y")%></p>
        </div>
      </div>
      <div class="card">
        <div class="card-header alert-primary"><strong>Tipo de amortização</strong></div>
        <div class="card-body">
          <p class="card-text"><%= @debt.amortization_type %></p>      
        </div>
      </div>
      <div class="card">
        <div class="card-header alert-primary"><strong>Periodicidade da amortização</strong></div>
        <div class="card-body">
          <p class="card-text"><%= @debt.amortization_frequency %></p>      
        </div>
      </div> 
    </div>

    <br>

    <div class="card-group">
      <div class="card">
        <div class="card-header alert-primary"><strong>Legislação aplicável</strong></div>
        <div class="card-body">
          <p class="card-text"><%= @debt.applicable_legislation %></p>      
        </div>
      </div>
      <div class="card">
        <div class="card-header alert-primary"><strong>Esfera</strong></div>
        <div class="card-body">
          <p class="card-text"><%= @debt.legislation_level %></p>
        </div>
      </div>  
    </div>

    <br>

    <div class="card-group">
      <div class="card">
        <div class="card-header alert-primary"><strong>Objetivo</strong></div>
        <div class="card-body">
          <p class="card-text"><%= @debt.purpose %></p>      
        </div>
      </div>
    </div>

    <br>

    <div class="card-group">
      <div class="card">
        <div class="card-header alert-primary"><strong>Observações</strong></div>
        <div class="card-body">
          <p class="card-text"><%= @debt.notes %></p>      
        </div>
      </div>
    </div>

  </div>
  <div class="tab-pane fade" id="nav-ops" role="tabpanel" aria-labelledby="nav-ops-tab">
    <br>

    <table class="table table-hover debt-ops">
      <tbody>      
        <% @debt.withdraws.order(date: 'desc').each do |withdraw| %>
          <tr>
            <td>      
              <span class="badge badge-danger badge-pill">D</span>
              <%= withdraw.date.strftime("%d-%m-%Y") %>
            </td>
            <td class="text-right">
             <%= withdraw.value %>
            </td>
          </tr>
        <% end %>
        <tr>
          <td><strong>Saldo</strong></td>
          <td class="text-right"><strong><%= @debt.balance %></strong></td>
        </tr>
      </tbody>
    </table>

    <p>
      <span class="badge badge-danger badge-pill">D</span> Desembolso
      <span class="badge badge-primary badge-pill">P</span> Pagamento
    </p>

    <hr>
    <button type="button" class="btn btn-success" data-toggle="modal" data-target="#withdrawModal">Registrar desembolso</button>

  </div>
</div>

<%= link_to 'Editar', edit_debt_path(@debt), class: 'btn' %> |
<%= link_to 'Voltar', debts_path, class: 'btn' %>

<div class="modal fade" id="withdrawModal" tabindex="-1" role="dialog" aria-labelledby="CadastroDesembolso" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">      
    </div>
  </div>
</div>

<script type="text/javascript">
  <% if (request.referrer == debt_url(@debt)) %> 
    $('#nav-ops-tab').tab('show');
  <% end %>

  $('#withdrawModal').on('show.bs.modal', function (e) {
    $.get('<%= new_debt_withdraw_path(@debt) %>')
    .done(function( data ) {
      $('#withdrawModal .modal-content').html(data);
      initSubmit();
    });
  })

  function initSubmit(){

    $('button.withdraw-save').on('click', function(e) {
      e.preventDefault();

      $.post('<%= debt_withdraws_path(@debt) %>', getWithdraw())
      .done(function(data) {
        $('#withdrawModal').modal('hide');        
      })
      .fail(function(data) {
        $('#withdrawModal .modal-content').html(data.responseText);
        initSubmit();
      });
    });
  }

  function getWithdraw() {
    return { withdraw: { value: $('#withdraw_value').val(),
                         'date(3i)': $('#withdraw_date_3i').val(),
                         'date(2i)': $('#withdraw_date_2i').val(),
                         'date(1i)': $('#withdraw_date_1i').val() } }
  }
</script>
