<% if notice.present? %>
  <div class="alert alert-success" role="alert">
    <p id="notice" class="mb-0" ><%= notice %></p>
  </div>
<% end %>

<p>
  <strong>Code:</strong>
  <%= @debt.code %>
</p>

<p>
  <strong>Contract value cents:</strong>
  <%= @debt.contract_value_cents %>
</p>

<p>
  <strong>Signature date:</strong>
  <%= @debt.signature_date %>
</p>

<p>
  <strong>Creditor:</strong>
  <%= @debt.creditor_id %>
</p>

<p>
  <strong>Grace period:</strong>
  <%= @debt.grace_period %>
</p>

<p>
  <strong>Amortization period:</strong>
  <%= @debt.amortization_period %>
</p>

<p>
  <strong>Purpose:</strong>
  <%= @debt.purpose %>
</p>

<button type="button" class="btn btn-success" data-toggle="modal" data-target="#withdrawModal">Registrar desembolso</button>

<%= link_to 'Edit', edit_debt_path(@debt), class: 'btn' %> |
<%= link_to 'Back', debts_path, class: 'btn' %>

<div class="modal fade" id="withdrawModal" tabindex="-1" role="dialog" aria-labelledby="CadastroDesembolso" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Registrar desembolso</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <%= simple_form_for :withdraw do |f| %>
        <div class="modal-body">
          <%= f.input :value %>
          <%= f.input :date, as: :date %>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-dismiss="modal">Fechar</button>
          <button type="button" class="btn btn-success">Salvar</button>
        </div>
      <% end %>
    </div>
  </div>
</div>
