<div class="position-fixed debt-header">
  <% if notice.present? %>
    <div class="alert alert-success" role="alert">
      <p id="notice" class="mb-0" ><%= notice %></p>
    </div>
  <% end %>

  <h2><strong><%= @debt.code %></strong></h2>
  <h3><%= @debt.name %></h3>

  <nav>
    <div class="nav nav-tabs" id="nav-tab" role="tablist">
      <a class="nav-item nav-link active" id="nav-data-tab" data-toggle="tab" href="#nav-data" role="tab" aria-controls="nav-data" aria-selected="true">Dados</a>
      <a class="nav-item nav-link" id="nav-transactions-tab" data-toggle="tab" href="#nav-transactions" role="tab" aria-controls="nav-ops" aria-selected="false">Movimentações</a>
      <a class="nav-item nav-link" id="nav-attachments-tab" data-toggle="tab" href="#nav-attachments" role="tab" aria-controls="nav-attachments" aria-selected="false">Anexos</a>
    </div>
  </nav>
</div>
<div class="tab-content debt-content" id="nav-tabContent">
  <div class="tab-pane fade show active" id="nav-data" role="tabpanel" aria-labelledby="nav-data-tab">
    
    <div class="card-group">
      <div class="card">
        <div class="card-header alert-primary"><strong>Valor do contrato</strong></div>
        <div class="card-body">
          <p class="card-text">
            <%= number_to_currency @debt.contract_value %>
            <%= @debt.currency.name %>
          </p>
        </div>
      </div>
      <div class="card">
        <div class="card-header alert-primary"><strong>Data de assinatura</strong></div>
        <div class="card-body">
          <p class="card-text"><%= @debt.signature_date %></p>
        </div>
      </div>
      <div class="card">
        <div class="card-header alert-primary"><strong>Credor</strong></div>
        <div class="card-body">
          <p class="card-text"><%= @debt.creditor.name %></p>      
        </div>
      </div>
      <div class="card">
        <div class="card-header alert-primary"><strong>Agente Financeiro</strong></div>
        <div class="card-body">
          <p class="card-text">
            <% if (@debt.financial_agent.present?) %>
              <%= @debt.financial_agent.name %>
            <% else %>
              <%= '-' %>
            <% end %>
          </p>      
        </div>
      </div> 
    </div>

    <br>

    <div class="card-group">
      <div class="card">
        <div class="card-header alert-primary"><strong>Prazo de carência</strong></div>
        <div class="card-body">
          <p class="card-text"><%= @debt.grace_period.strftime("%d-%m-%Y") %></p>      
        </div>
      </div>
      <div class="card">
        <div class="card-header alert-primary"><strong>Prazo de amortização</strong></div>
        <div class="card-body">
          <p class="card-text"><%= @debt.amortization_period.strftime("%d-%m-%Y")%></p>
        </div>
      </div>
      <div class="card">
        <div class="card-header alert-primary"><strong>Tipo de amortização</strong></div>
        <div class="card-body">
          <p class="card-text"><%= @debt.amortization_type %></p>      
        </div>
      </div>      
    </div>

    <br>

    <div class="card-group">
      <div class="card">
        <div class="card-header alert-primary"><strong>Legislação aplicável</strong></div>
        <div class="card-body">
          <p class="card-text"><%= @debt.applicable_legislation %></p>      
        </div>
      </div>
      <div class="card">
        <div class="card-header alert-primary"><strong>Esfera</strong></div>
        <div class="card-body">
          <p class="card-text"><%= @debt.legislation_level %></p>
        </div>
      </div>  
    </div>
    
    <br>

     <div class="card-group">
      <div class="card">
        <div class="card-header alert-primary"><strong>Operações</strong></div>
        <div class="card-body">
          <% @debt.transaction_infos.each do |transaction_info| %>
          <p class="card-text"><%= transaction_info.type.name %> - <%= transaction_info.formula %> - <%= transaction_info.description %></p>  
          <% end %>    
        </div>
      </div>
    </div>

    <br>

    <div class="card-group">
      <div class="card">
        <div class="card-header alert-primary"><strong>Objetivo</strong></div>
        <div class="card-body">
          <p class="card-text"><%= @debt.purpose %></p>      
        </div>
      </div>
    </div>

    <br>

    <div class="card-group">
      <div class="card">
        <div class="card-header alert-primary"><strong>Observações</strong></div>
        <div class="card-body">
          <p class="card-text"><%= @debt.notes %></p>      
        </div>
      </div>
    </div>

  </div>
  
  <div class="tab-pane fade" id="nav-transactions" role="tabpanel" aria-labelledby="nav-transactions-tab"></div>
  <div class="tab-pane fade" id="nav-attachments" role="tabpanel" aria-labelledby="nav-attachments-tab"></div>

  <div class="modal fade" id="transactionModal" tabindex="-1" role="dialog" aria-labelledby="EdiçãoTransação" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">      
      </div>
    </div>
  </div>

</div>

<script type="text/javascript">
  <% if (request.referrer == debt_url(@debt)) %> 
    $('#nav-ops-tab').tab('show');
  <% end %>

  $('#nav-transactions-tab').on('click', function(){
    $.get('<%= debt_transaction_items_path(@debt) %>').done(function(data){
      $('#nav-transactions').html(data);
    });
  })


  $('#nav-attachments-tab').on('click', function(){
    $.get('<%= debt_attachments_path(@debt) %>').done(function(data){
      $('#nav-attachments').html(data);
    });
  })

  initTransactionActions();
</script>
