<div class="position-fixed debt-header">
  <% if notice.present? %>
    <div class="alert alert-success" role="alert">
      <p id="notice" class="mb-0" ><%= notice %></p>
    </div>
  <% end %>

  <h2><strong><%= @debt.code %></strong></h2>
  <h3><%= @debt.name %></h3>

  <nav>
    <div class="nav nav-tabs" id="nav-tab" role="tablist">
      <a class="nav-item nav-link active" id="nav-data-tab" data-toggle="tab" href="#nav-data" role="tab" aria-controls="nav-data" aria-selected="true">Dados</a>
      <a class="nav-item nav-link" id="nav-withdraws-tab" data-toggle="tab" href="#nav-withdraws" role="tab" aria-controls="nav-ops" aria-selected="false">Desembolsos</a>  
      <a class="nav-item nav-link" id="nav-transactions-tab" data-toggle="tab" href="#nav-transactions" role="tab" aria-controls="nav-ops" aria-selected="false">Movimentações</a>
      <a class="nav-item nav-link" id="nav-future-payments-tab" data-toggle="tab" href="#nav-future-payments" role="tab" aria-controls="nav-future-payments" aria-selected="false">Pagamentos Futuros</a>
      <a class="nav-item nav-link" id="nav-attachments-tab" data-toggle="tab" href="#nav-attachments" role="tab" aria-controls="nav-attachments" aria-selected="false">Anexos</a>
    </div>
  </nav>
</div>
<div class="tab-content debt-content" id="nav-tabContent">
  <div class="tab-pane fade show active" id="nav-data" role="tabpanel" aria-labelledby="nav-data-tab">
    
    <div class="card-group">
      <div class="card">
        <div class="card-header alert-primary"><strong>Valor do contrato</strong></div>
        <div class="card-body">
          <p class="card-text">
            <%= number_to_currency @debt.contract_value %>
            <%= @debt.currency.name %>
          </p>
        </div>
      </div>
      <div class="card">
        <div class="card-header alert-primary"><strong>Data de assinatura</strong></div>
        <div class="card-body">
          <p class="card-text"><%= @debt.signature_date %></p>
        </div>
      </div>
      <div class="card">
        <div class="card-header alert-primary"><strong>Credor</strong></div>
        <div class="card-body">
          <p class="card-text"><%= @debt.creditor.name %></p>      
        </div>
      </div>
      <div class="card">
        <div class="card-header alert-primary"><strong>Agente Financeiro</strong></div>
        <div class="card-body">
          <p class="card-text">
            <% if (@debt.financial_agent.present?) %>
              <%= @debt.financial_agent.name %>
            <% else %>
              <%= '-' %>
            <% end %>
          </p>      
        </div>
      </div> 
    </div>

    <br>

    <div class="card-group">
      <div class="card">
        <div class="card-header alert-primary"><strong>Prazo de carência</strong></div>
        <div class="card-body">
          <p class="card-text"><%= @debt.grace_period.strftime("%d-%m-%Y") %></p>      
        </div>
      </div>
      <div class="card">
        <div class="card-header alert-primary"><strong>Prazo de amortização</strong></div>
        <div class="card-body">
          <p class="card-text"><%= @debt.amortization_period.strftime("%d-%m-%Y")%></p>
        </div>
      </div>
      <div class="card">
        <div class="card-header alert-primary"><strong>Tipo de amortização</strong></div>
        <div class="card-body">
          <p class="card-text"><%= @debt.amortization_type %></p>      
        </div>
      </div>
      <div class="card">
        <div class="card-header alert-primary"><strong>Periodicidade da amortização</strong></div>
        <div class="card-body">
          <p class="card-text"><%= @debt.amortization_frequency %></p>      
        </div>
      </div> 
    </div>

    <br>

    <div class="card-group">
      <div class="card">
        <div class="card-header alert-primary"><strong>Legislação aplicável</strong></div>
        <div class="card-body">
          <p class="card-text"><%= @debt.applicable_legislation %></p>      
        </div>
      </div>
      <div class="card">
        <div class="card-header alert-primary"><strong>Esfera</strong></div>
        <div class="card-body">
          <p class="card-text"><%= @debt.legislation_level %></p>
        </div>
      </div>  
    </div>

    <br>

    <div class="card-group">
      <div class="card">
        <div class="card-header alert-primary"><strong>Objetivo</strong></div>
        <div class="card-body">
          <p class="card-text"><%= @debt.purpose %></p>      
        </div>
      </div>
    </div>

    <br>

    <div class="card-group">
      <div class="card">
        <div class="card-header alert-primary"><strong>Observações</strong></div>
        <div class="card-body">
          <p class="card-text"><%= @debt.notes %></p>      
        </div>
      </div>
    </div>

  </div>
  <div class="tab-pane fade" id="nav-withdraws" role="tabpanel" aria-labelledby="nav-withdraws-tab">

    <p>
      <strong>Valor do contrato: </strong>
      <%= big_decimal_to_currency @debt.contract_value_brl %>
    </p>
    <p>
      <strong>Valor do contrato em reais: </strong>
      <%= number_to_currency @debt.contract_value_brl %>
    </p>

    <table class="table table-hover debt-withdraws">
      <tbody>      
        <% @debt.withdraws.order(date: 'desc').each do |withdraw| %>
          <tr class='edit-withdraw' data-path='<%= edit_debt_transaction_path(@debt, withdraw) %>'>
            <td>      
              <span class="badge badge-primary badge-pill">D</span>
              <%= withdraw.date %>
            </td>
            <td class="text-right">
             <%= big_decimal_to_currency withdraw.value %>
            </td>
          </tr>
        <% end %>
        <tr>
          <td><strong>Saldo devedor</strong></td>
          <td class="text-right"><strong><%= big_decimal_to_currency @debt.outstanding_balance %></strong></td>
        </tr>
        <tr>
          <td><strong>Saldo devedor em reais</strong></td>
          <td class="text-right"><strong><%= number_to_currency(@debt.outstanding_balance / @debt.currency.to_brl) %></strong></td>
        </tr>
      </tbody>
    </table>

    <p>
      <span class="badge badge-primary badge-pill">D</span> Desembolso
    </p>

    <hr>
    <button type="button" class="btn btn-success new-withdraw" data-toggle="modal" data-target="#withdrawModal">Registrar desembolso</button>

  </div>

  <div class="tab-pane fade" id="nav-transactions" role="tabpanel" aria-labelledby="nav-transactions-tab"></div>
  <div class="tab-pane fade" id="nav-future-payments" role="tabpanel" aria-labelledby="nav-future-payments-tab"></div>
  <div class="tab-pane fade" id="nav-attachments" role="tabpanel" aria-labelledby="nav-attachments-tab"></div>
</div>

<script type="text/javascript">
  <% if (request.referrer == debt_url(@debt)) %> 
    $('#nav-ops-tab').tab('show');
  <% end %>

  $('#nav-transactions-tab').on('click', function(){
    $.get('<%= debt_transactions_path(@debt) %>').done(function(data){
      $('#nav-transactions').html(data);
    });
  })

  $('#nav-future-payments-tab').on('click', function(){
    $.get('<%= debt_future_payments_path(@debt) %>').done(function(data){
      $('#nav-future-payments').html(data);
    });
  })

  $('#nav-attachments-tab').on('click', function(){
    $.get('<%= debt_attachments_path(@debt) %>').done(function(data){
      $('#nav-attachments').html(data);
    });
  })

</script>
