<% if notice.present? %>
  <div class="alert alert-success" role="alert">
    <p id="notice" class="mb-0" ><%= notice %></p>
  </div>
<% end %>

<p>
  <strong>Code:</strong>
  <%= @debt.code %>
</p>

<p>
  <strong>Contract value cents:</strong>
  <%= @debt.contract_value_cents %>
</p>

<p>
  <strong>Signature date:</strong>
  <%= @debt.signature_date %>
</p>

<p>
  <strong>Creditor:</strong>
  <%= @debt.creditor_id %>
</p>

<p>
  <strong>Grace period:</strong>
  <%= @debt.grace_period %>
</p>

<p>
  <strong>Amortization period:</strong>
  <%= @debt.amortization_period %>
</p>

<p>
  <strong>Purpose:</strong>
  <%= @debt.purpose %>
</p>

<button type="button" class="btn btn-success" data-toggle="modal" data-target="#withdrawModal">Registrar desembolso</button>

<%= link_to 'Edit', edit_debt_path(@debt), class: 'btn' %> |
<%= link_to 'Back', debts_path, class: 'btn' %>

<div class="modal fade" id="withdrawModal" tabindex="-1" role="dialog" aria-labelledby="CadastroDesembolso" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">      
    </div>
  </div>
</div>

<script type="text/javascript">
  $('#withdrawModal').on('show.bs.modal', function (e) {
    $.get('<%= new_debt_withdraw_path(@debt) %>')
    .done(function( data ) {
      $('#withdrawModal .modal-content').html(data);
      initSubmit();
    });
  })

  function initSubmit(){

    $('#new_withdraw.input[type=submit]').on('click', function(e) {
      e.preventDefault();

      $.post('<%= debt_withdraws_path(@debt) %>')
      .success(function( data) {
        console.log('ok');
      })
      .error(function( data ) {
        $('#withdrawModal .modal-content').html(data);
        console.log('u oh');
      });
    });
  }
</script>
