<p id="notice"><%= notice %></p>

<h1>Moedas</h1>

<table class='table table-striped table-hover'>
  <thead>
    <tr>
      <th>Nome</th>
      <th>Fórmula</th>
      <th>Descrição</th>
      <th>Última cotação</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @currencies.each do |currency| %>
      <tr>
        <td><%= currency.name %></td>
        <td><%= currency.formula %></td>
        <td><%= currency.description %></td>
        <td><%= currency.to_brl %></td>        
        <td><%= link_to fa_icon("eye 2x", title: "Mostrar"), currency %></td>
        <td><%= link_to fa_icon("edit 2x", title: "Editar"), edit_currency_path(currency) %></td>        
        <td><%= link_to fa_icon("trash 2x", title: "Remover"), currency, method: :delete, data: { confirm: 'Tem certeza?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nova moeda', new_currency_path, class: "btn btn-success pull-right" %>
