<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @currency.name %>
</p>

<p>
  <strong>Formula:</strong>
  <%= @currency.formula %>
</p>

<p>
  <strong>Description:</strong>
  <%= @currency.description %>
</p>

<%= link_to 'Edit', edit_currency_path(@currency), class: 'btn' %> |
<%= link_to 'Back', currencies_path, class: 'btn' %>
