<table class="table table-hover debt-withdraws">
  <thead>
    <th>Data</th>
    <th>Parcela</th>
    <th>Saldo final</th>
  </thead>
  <tbody>
    <% @transactions.each do |transaction| %>
      <tr>
        <td>      
          <span class="badge badge-secondary badge-pill">PF</span>
          <%= transaction.date.strftime("%d-%m-%Y") %>
        </td>
        <td>
         <%= big_decimal_to_currency transaction.principal %>
        </td>
        <td>
         <%= big_decimal_to_currency transaction.final_outstanding_balance %>
        </td>
      </tr>
    <% end %>
    <tr>
      <td><strong>Saldo devedor</strong></td>
      <td class="text-right"><strong><%= big_decimal_to_currency @debt.outstanding_balance %></strong></td>
    </tr>
    <tr>
      <td><strong>Saldo devedor em reais</strong></td>
      <td class="text-right"><strong><%= number_to_currency(@debt.outstanding_balance / @debt.currency.to_brl) %></strong></td>
    </tr>
  </tbody>
</table>