<p id="notice"><%= notice %></p>

<h1>Credores</h1>

<table class='table table-striped table-hover'>
  <thead>
    <tr>
      <th>Nome</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @creditors.each do |creditor| %>
      <tr>
        <td><%= creditor.name %></td>
        <td><%= link_to fa_icon("eye 2x", title: "Mostrar"), creditor %></td>
        <td><%= link_to fa_icon("edit 2x", title: "Editar"), edit_creditor_path(creditor) %></td>
        <td><%= link_to fa_icon("trash 2x", title: "Remover"), creditor, method: :delete, data: { confirm: 'Tem certeza?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Cadastrar credor', new_creditor_path, class: 'btn btn-success pull-right' %>
