<%= simple_form_for [@debt, @attachment], url: [@debt, @attachment] do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>
  <div class="modal-body">
    <div class="form-inputs">
      <%= f.input :name %>
      <%= f.input :description %>
      <%= f.input :file, as: :file %>
    </div>
  
    <div class="modal-footer"> 
      <button type="button" class="btn btn-danger" data-dismiss="modal">Fechar</button>
      <button type="button" data-path="<%= debt_attachments_path(@debt) %>" class="btn btn-success attachment-save">Salvar</button>
    </div>
  </div>
<% end %>

