<%= simple_form_for transaction, url: debt_transactions_path(debt) do |f| %>
  <div class="modal-body">
    <%= f.input :value, as: :float %>
    <%= f.input :exchange_rate %>
    <label>Valor em reais:</label>
    <input class="form-control" type="text" value="0,00" name="" id="transaction_value_brl" disabled>
    <br>
    <%= f.input :date, as: :date %>
    <%= f.input :date, as: :date if debt.externo? %>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-danger" data-dismiss="modal">Fechar</button>
    <button type="button" class="btn btn-success transaction-save">Salvar</button>
  </div>
<% end %>

<script type="text/javascript">
	updateBrlValue();

	$('#transaction_value').on('keyup', function(){
		updateBrlValue();
	});

	$('#transaction_exchange_rate').on('keyup', function(){
		updateBrlValue();
	});

	function updateBrlValue(){
		brlValue = $('#transaction_value').val() * $('#transaction_exchange_rate').val();
		$('#transaction_value_brl').val(brlValue);
	}
</script>