<%= simple_form_for transaction, url: debt_transactions_path(debt) do |f| %>
  <div class="modal-body">
    <%= f.input :type, as: :hidden %>
    <label>Valor em reais:</label>
    <input class="form-control" type="text" value="0,00" name="" id="withdraw_value_brl">
    <br>
    <%= f.input :exchange_rate %>    
    <%= f.input :value, as: :float %>
    <%= f.input :date, as: :date %>
    <%= f.input :internalization_date, as: :date if debt.externo? %>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-danger" data-dismiss="modal">Fechar</button>
    <button type="button" class="btn btn-success withdraw-save">Salvar</button>
  </div>
<% end %>

<script type="text/javascript">
	updateValue();

	$('#withdraw_value_brl').on('keyup', function(){
		updateValue();
	});

	$('#withdraw_exchange_rate').on('keyup', function(){
		updateValue();
	});

	function updateValue(){
		value = $('#withdraw_value_brl').val() * $('#withdraw_exchange_rate').val();
		$('#withdraw_value').val(value);
	}
</script>