<%= simple_form_for transaction, url: debt_transactions_path(debt) do |f| %>
  <div class="modal-body">
    <%= f.input :id, as: :hidden %>
    <%= f.input :debt_id, as: :hidden %>
    <%= f.input :type, as: :hidden, input_html: {id: "transaction_type"} %>
    <%= f.input :principal_brl, input_html: {value: f.object.principal_brl || '0.00'} %>    
    <%= f.input :exchange_rate %>  
    <%= f.input :principal %>
    <div class="row">
      <div class="col-sm-6">
        <%= f.input :interest %>
      </div>
      <div class="col-sm-6">
        <%= f.input :interest_brl %>
      </div>
    </div>
    <%= f.input :date, as: :date %>
    <div id='payment_charges'>
      <%= f.simple_fields_for :payment_charges do |payment_charge| %>
        <%= render 'payment_charge_fields', f: payment_charge %>
      <% end %>      
    </div>
  </div>
<% end %>

<script type="text/javascript">
  
  $('#payment_exchange_rate').on('input', function(e) {
      $('#payment_interest_brl').val(Big($('#payment_interest').val()) * $('#payment_exchange_rate').val());

      $('#payment_payment_charges_attributes_0_value_brl').val(Big($('#payment_exchange_rate').val()) * $('#payment_payment_charges_attributes_0_value').val());

      $('#payment_payment_charges_attributes_1_value_brl').val(Big($('#payment_exchange_rate').val()) * $('#payment_payment_charges_attributes_1_value').val());

      $('#payment_principal_brl').val(Big($('#payment_exchange_rate').val()) * $('#payment_principal').val());
  });

</script>
