<%= simple_form_for transaction, url: debt_transactions_path(debt) do |f| %>
  <div class="modal-body">
    <%= f.input :id, as: :hidden %>
    <%= f.input :debt_id, as: :hidden %>
    <%= f.input :type, as: :hidden, input_html: {id: "transaction_type"} %>
    <%= f.input :principal_brl, input_html: {value: f.object.principal_brl || '0.00'} %>    
    <%= f.input :exchange_rate %>  
    <%= f.input :principal %>
    <%= f.input :interest %>
    <%= f.input :date, as: :date %>
    <div id='payment_charges'>
      <%= f.simple_fields_for :payment_charges do |payment_charge| %>
        <%= render 'payment_charge_fields', f: payment_charge %>
      <% end %>      
    </div>
  </div>
<% end %>

