<%= simple_form_for transaction, url: debt_transactions_path(debt), as: :transaction do |f| %>
  <div class="modal-body">
    <%= f.input :id, as: :hidden %>
    <%= f.input :debt_id, as: :hidden %>
    <%= f.input :type, as: :hidden, input_html: {id: "transaction_type"} %>
    <%= f.input :exchange_rate %> 
    <div class="row">
      <div class="col-sm-6"> 
        <%= f.input :principal, as: :string, input_html: {class: 'currency'} %>
      </div>
      <div class="col-sm-6"> 
        <%= f.input :principal_brl, as: :string, input_html: {value: f.object.principal_brl || '0.00', class: 'currency-brl'} %> 
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6">
        <%= f.input :interest, as: :string, input_html: {class: 'currency'} %>
      </div>
      <div class="col-sm-6">
        <%= f.input :interest_brl, as: :string, input_html: {class: 'currency-brl'} %>
      </div>
    </div>
    <%= f.input :date, as: :date %>
    <div id='payment_charges'>
      <%= f.simple_fields_for :payment_charges do |payment_charge| %>
        <%= render 'payment_charge_fields', f: payment_charge %>
      <% end %>      
    </div>
  </div>
<% end %>

<script type="text/javascript">
 
$('#transaction_exchange_rate').on('input', function(e) {
  if($.isNumeric($('#transaction_exchange_rate').val())){

    $('#transaction_principal_brl').val(Big($('#transaction_exchange_rate').val().replace(/[.]/g, '').replace(/[,]/g, '.')) * $('#transaction_principal').val().replace(/[.]/g, '').replace(/[,]/g, '.'));

    $('#transaction_interest_brl').val(Big($('#transaction_interest').val().replace(/[.]/g, '').replace(/[,]/g, '.')) * $('#transaction_exchange_rate').val().replace(/[.]/g, '').replace(/[,]/g, '.'));

    $('.value_charge').each(function(index){
      $('#transaction_payment_charges_attributes_'+ index +'_value_brl').val(Big($('#transaction_exchange_rate').val().replace(/[.]/g, '').replace(/[,]/g, '.')) * $('#transaction_payment_charges_attributes_'+ index +'_value').val().replace(/[.]/g, '').replace(/[,]/g, '.'));
    })

    $('.currency-brl').unmask();
    $('.currency-brl').mask('#.##0,00', {reverse: true});
  }
});



</script>
