<div class='position-fixed'>
  <ul class="nav flex-column list-group">
    <% @transactions.keys.each_with_index do |year, index| %> 
      <li class="nav-item">
        <a class="nav-link list-group-item list-group-item-action year-link <%= 'active' if index == 0 %>" href="#<%=year%>" data-turbolinks="false"><%= year %></a>
      </li>
    <% end %>
  </ul>
</div>

<div class='pull-left debt-ops'>
  <p>
    <strong>Valor do contrato: </strong>
    <%= big_decimal_to_currency @debt.contract_value%>
  </p>
  <p>
    <strong>Valor do contrato em reais: </strong>
    <%= number_to_currency @debt.contract_value_brl %>
  </p>
  <p>
    <strong>Saldo devedor total: </strong>
    <%= big_decimal_to_currency @debt.outstanding_balance %>
  </p>

  <% @transactions.keys.each do |year| %>
    <section id="<%= year %>" class="year-transaction">
      <h4 class="text-center alert alert-primary"><%= year %></h4>

      <% @transactions[year].each do |month, transaction_array| %>
        <h5 class="alert alert-secondary"><%= I18n.t("date.month_names")[month] %></h5>

        <table class="table table-hover">
          <tbody>      
              <% month_balance = 0.0 %>
              <% transaction_array.each do |transaction|%>
                <tr>
                  <td>
                    <% if transaction.type == 'Withdraw' %>
                      <span class="badge badge-primary badge-pill">D</span>
                    <% else %>
                      <span class="badge badge-warning badge-pill">PR</span>
                    <% end %>
                    <%= transaction.date.strftime("%d-%m-%Y") %>
                  </td>
                
                  <td>
                  <%= big_decimal_to_currency transaction.principal if transaction.type == 'Payment' %>
                  </td>
                  <td>
                  <%= big_decimal_to_currency transaction.interest if transaction.type == 'Payment' %>
                  </td>
                
                  <td class="text-right">
                   <%= big_decimal_to_currency transaction.value %>
                  </td>
                </tr>
                <% month_balance += transaction.value if transaction.type == 'Withdraw' %>
                <% month_balance -= transaction.value if transaction.type == 'Payment' %>
              <% end %>
            
              <tr>
                <td><strong>Saldo devedor mensal</strong></td>

                <td></td><td></td>

                <td class="text-right"><strong><%= big_decimal_to_currency month_balance %></strong></td>
              </tr>
              <tr>
                <td><strong>Saldo devedor mensal (R$)</strong></td>

                <td></td><td></td>
                
                <td class="text-right"><strong><%= number_to_currency(month_balance / @debt.currency.to_brl) %></strong></td>
              </tr>
            </tbody>
          </table>
          <p>
            <span class="badge badge-primary badge-pill">D</span> Desembolso
            <span class="badge badge-warning badge-pill">PR</span> Pagamento realizado
            <span class="badge badge-secondary badge-pill">PF</span> Pagamento futuro
          </p>
          <br>
        <% end %>      
      <% end %>
    </section>

  <hr>
  <button type="button" class="btn btn-success" data-toggle="modal" data-target="#transactionModal">Registrar desembolso</button>
</div>

<script type="text/javascript">
  $('a.year-link').on('click', function(e){
    $('a.year-link').removeClass('active');
    $(e.currentTarget).addClass('active');
  })
</script>
