<div class='position-fixed'>
  <ul class="nav flex-column list-group">
    <% transactions = order_by_year @transactions %>
    <% transactions.keys.each_with_index do |year, index| %> 
      <li class="nav-item">
        <a class="nav-link list-group-item list-group-item-action year-link <%= 'active' if index == 0 %>" href="#<%=year%>" data-turbolinks="false"><%= year %></a>
      </li>
    <% end %>
  </ul>
</div>

<div class='pull-left debt-ops'>
  <p>
    <strong>Valor do contrato: </strong>
    <%= big_decimal_to_currency @debt.contract_value%>
  </p>
  <p>
    <strong>Valor do contrato em reais: </strong>
    <%= number_to_currency @debt.contract_value_brl %>
  </p>
  <p>
    <strong>Saldo devedor total: </strong>
    <%= big_decimal_to_currency @debt.outstanding_balance %>
  </p>

  <% transactions.keys.each do |year| %>
    <section id="<%= year %>" class="year-transaction">
      <h5 class="text-center alert alert-primary"><%= year %></h5>

      <% transactions[year].each do |month, transaction_array| %>
        <h6 class="alert alert-secondary"><%= I18n.t("date.month_names")[month] %></h6>

        <table class="table table-hover">
          <thead>
            <th></th>
            <th>Data</th>
            <th>Valor do desembolso</th>
            <th>Principal</th>
            <th>Juros</th>
            <% @debt.charges.each do |charge| %>
              <th><%= charge.name %></th>
            <% end %>
            <th>Saldo final</th>            
          </thead>
          <tbody>              
            <% transaction_array.each do |transaction| %>
              <% transaction.editable? ? transaction_class = 'edit-transaction' : transaction_class = 'block-edit-transaction' %>
              <% transaction_edit_path = edit_debt_transaction_path(@debt, transaction) if transaction.editable? %>
              <tr class="<%= transaction_class %>" data-path='<%= transaction_edit_path %>'>
                <td>
                  <% if transaction.type == 'Withdraw' %>
                    <span class="badge badge-primary badge-pill">D</span>
                  <% elsif transaction.type == 'Payment' %>
                    <span class="badge badge-warning badge-pill">PR</span>
                  <% else %>
                    <span class="badge badge-secondary badge-pill">PF</span>
                  <% end %>
                </td>
                
                <td>
                  <%= transaction.date %>
                </td>
              
                <td>
                 <%= big_decimal_to_currency(transaction.value) || '-'  %>                 
                </td>

                <td>
                  <%= big_decimal_to_currency(transaction.principal) || '-' %>
                </td>

                <td>
                <%= big_decimal_to_currency transaction.interest if transaction.type == 'Payment' %>
                </td>

                <% if transaction.type == 'Payment' %>
                  <% transaction.payment_charges.each do |payment_charge| %>
                    <td><%= payment_charge.show_value %></td>
                  <% end %>
                <% else %>
                  <% @debt.charges.each do %>
                    <td>-</td>
                  <% end %>
                <% end %>

                <td>
                <%= big_decimal_to_currency transaction.final_outstanding_balance %>
                </td>
              </tr>                
            <% end %>              
          </tbody>
        </table>
        
        <br>
      <% end %>      
    <% end %>
  </section>
  
</div>

<div class="pull-left transactions-legend">
  <div class='position-fixed'>
    <ul class="nav flex-column list-group">    
      <li><span class="badge badge-primary badge-pill">D</span> Desembolso</li>
      <li><span class="badge badge-warning badge-pill">PR</span> Pagamento realizado</li>
      <li><span class="badge badge-secondary badge-pill">PF</span> Pagamento futuro</li>    
    </ul>
    <br>
    <button type="button" class="btn btn-success new-withdraw" data-toggle="modal" data-target="#transactionModal">Registrar desembolso</button>
  </div>  
</div>

<div class="modal fade" id="transactionModal" tabindex="-1" role="dialog" aria-labelledby="EdiçãoTransação" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">      
    </div>
  </div>
</div>

<script type="text/javascript">
  $('a.year-link').on('click', function(e){
    $('a.year-link').removeClass('active');
    $(e.currentTarget).addClass('active');
  })


  $('.new-withdraw').on('click', function (e) {
    $.get('<%= new_debt_transaction_path(@debt) %>')
    .done(function( data ) {
      $('#transactionModal .modal-content').html(data);
      initSubmitTransaction();
    });
  });

  $('.edit-transaction').on('click', function (e) {
    $.get($(this).data('path'))
    .done(function( data ) {
      $('#transactionModal .modal-content').html(data);
      initSubmitTransaction();
    });

    $('#transactionModal').modal('show');    
  })

  function initSubmitTransaction(){

    $('button.transaction-save').on('click', function(e) {
      e.preventDefault();

      $.ajax({url: $(this).data('path'), 
              method: $(this).data('http-verb'),
              data: getTransaction()
      })
      .done(function(data) {
        $('#transactionModal').modal('hide');
        $('#transactionModal').on('hidden.bs.modal', function (e) {
          $('#nav-transactions').html(data);
        })        
      })
      .fail(function(data) {
        $('#transactionModal .modal-content').html(data.responseText);
        initSubmitTransaction();
      });
    });
  }

  function getTransaction() {
    return { transaction: {type: $('#transaction_type').val(),
                           value_brl: $('#withdraw_value_brl').val(),
                           value: $('#withdraw_value').val(), 
                           principal: $('#payment_principal').val(),                      
                           principal_brl: $('#payment_principal_brl').val(),
                           interest: $('#payment_interest').val(),
                           'date(3i)': $('#withdraw_date_3i').val() || $('#payment_date_3i').val(),
                           'date(2i)': $('#withdraw_date_2i').val() || $('#payment_date_2i').val(),
                           'date(1i)': $('#withdraw_date_1i').val() || $('#payment_date_1i').val() } }
  }
</script>
